
        h1{
            color: red;
            text-align: center;
        }
        h2{
            text-align: center;
        }
        p {
            text-align: center;
            width: 300px;
            margin-left: 650px;
        }
    